@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-size-s:   clamp(0.7rem, 0.8vw + 0.4rem, 0.85rem); 
$font-size-m:   clamp(0.85rem, 1vw + 0.5rem, 1.1rem);   
$font-size-l:   clamp(1rem, 1.5vw + 0.5rem, 1.5rem);    
$font-size-xl:  clamp(1.25rem, 2.5vw + 0.5rem, 2.25rem); 
$font-size-2xl: clamp(1.5rem, 4vw, 3rem);              
$font-size-3xl: clamp(1.75rem, 5vw, 4rem);             
$font-size-4xl: clamp(2rem, 6vw, 5rem);                
$font-size-5xl: clamp(2.25rem, 7vw, 6rem);             
$font-size-6xl: clamp(2.5rem, 8vw, 8rem);

$color-primary: #ffffff;
$color-secondary: #EAF0F6;
$color-accent: #EE2227;
$color-accent-secondary: #fcdc31;
$color-text: #212121;
$color-text-secondary: #7b7b7b;

$filter-accent: brightness(0) saturate(100%) invert(25%) sepia(57%) saturate(4781%) hue-rotate(345deg) brightness(92%) contrast(103%);
$filter-accent-secondary: brightness(0) saturate(100%) invert(99%) sepia(45%) saturate(673%) hue-rotate(174deg) brightness(100%) contrast(94%);
$filter-white: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(2%) hue-rotate(126deg) brightness(109%) contrast(101%);
$filter-grey: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(1334%) hue-rotate(189deg) brightness(84%) contrast(93%);
$filter-text: brightness(0) saturate(100%) invert(10%) sepia(10%) saturate(0%) hue-rotate(163deg) brightness(107%) contrast(95%);
$filter-text-secondary: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(0%) hue-rotate(98deg) brightness(91%) contrast(84%);
$filter-red: brightness(0) saturate(100%) invert(36%) sepia(65%) saturate(1544%) hue-rotate(330deg) brightness(116%) contrast(103%);

$font-size-root: 40px;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    color: $color-text;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar
    {
        display: none;
    }

    &::placeholder
    {
        color: #c5c8cf;
    }
}

::selection {
    color: #fff;
    background: $color-accent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// input[type=number] {
//   -moz-appearance: textfield;
// }


a, button, input, textarea {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
}

img
{
    display: block;
    max-width: 100%;
    min-width: none;
    height: auto;
}


body
{
    background-color: #ffffff;
    width: 100%;
    min-height: 100dvh;
}

.text-default
{
    color: $color-text;
}

.text-accent
{
    color: $color-accent;
}

.text-yellow
{
    color: $color-accent-secondary !important;
}

.text-grey
{
    color: $color-text-secondary;
}

.img-accent
{
    filter: $filter-accent;
}

.text-yellow2{color: #92400E;}

.text-blue{color: #3B82F6}

.text-purple{color: #A855F7}

.text-orange{color: #F97316}

.text-green{color: #166534}

.img-white
{
    filter: $filter-white;
}

.img-grey
{
    filter: $filter-grey;
}

.img-yellow 
{
    filter: brightness(0) saturate(100%) invert(28%) sepia(35%) saturate(2447%) hue-rotate(355deg) brightness(90%) contrast(93%);
}

.img-blue 
{
    filter: brightness(0) saturate(100%) invert(42%) sepia(86%) saturate(640%) hue-rotate(185deg) brightness(96%) contrast(101%);
}

.img-purple 
{
    filter: brightness(0) saturate(100%) invert(34%) sepia(74%) saturate(1644%) hue-rotate(247deg) brightness(101%) contrast(94%);
}

.img-orange 
{
    filter: brightness(0) saturate(100%) invert(70%) sepia(32%) saturate(6794%) hue-rotate(343deg) brightness(92%) contrast(113%);
}

.img-green 
{
    filter: brightness(0) saturate(100%) invert(26%) sepia(51%) saturate(700%) hue-rotate(90deg) brightness(101%) contrast(88%);
}

.bg
{
    
    &-1 
    {
        background: url(../public/img/bg-1.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &-2 
    {
        background: url(../public/img/bg-2.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &-chicken 
    {
        background-image: url(../public/img/chicken.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-fish 
    {
        background-image: url(../public/img/fish.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-rice 
    {
        background-image: url(../public/img/rice.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-beef 
    {
        background-image: url(../public/img/beef.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-nav 
    {
        background-image: url(../public/img/footer.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-accent
    {
        background-color: $color-accent;
    }

    &-accent-secondary
    {
        background-color: $color-accent-secondary;
    }

    &-whatsapp
    {
        background-color: #25D366;
    }

    &-light-accent
    {
        background-color: #ffeced;
    }

    &-grey
    {
        background-color: #1c1c1c;
    }

    &-dark-grey
    {
        background-color: #d4d4d4;
    }

    &-light-grey
    {
        background-color: #f1f1f1;
    }

    &-beige
    {
        background-color: #FFFBD7;
    }

    &-gradient-bw
    {
        background: linear-gradient(0deg,#fff 0%, #000 100%);
    }

    &-menu
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: calc(75% + 200px);
        z-index: -1;

        img{object-position: bottom;}
    }

    &-contact
    {
        background: url(../public/img/food2.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #5f5f5f34;
        background-blend-mode: lighten;
    }

    &-yellow{background-color: #92400E;}
    &-light-yellow{background-color: #FEF3C7}

    &-blue{background-color: #3B82F6}
    &-light-blue{background-color: #DBEAFE}
    
    &-purple{background-color: #A855F7}
    &-light-purple{background-color: #F3E8FF}
    
    &-orange{background-color: #F97316}
    &-light-orange{background-color: #FFEDD5}

    &-green{background-color: #166534}
    &-light-green{background-color: #DCFCE7}

}

.btn-primary-homade
{
    background-color: $color-accent;
    display: flex;
    gap: 15px;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    transition: .1s;
}

.ratio-1 {aspect-ratio: 1/1;}
.ratio-4 {aspect-ratio: 4/3;}
.ratio-16 {aspect-ratio: 16/9;}

.h-max {height: max-content;}
.w-max {width: max-content;}

.grid-template-homade-partner {
    display: grid;
    gap: 5px;
    grid-auto-rows: 1fr;

    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 577px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-template-homade-menus
{
    grid-auto-rows:1fr;
    gap: 5px;

    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 900px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bg-custom-nav
{
    background-color: #000 !important;

    @media (min-width: 992px)
    {
        background-color: transparent !important;
    }
}

.translate-50
{
    transform: translateY(-50px);
}

.switch
{
    background-color: #000;
    transition: .1s;

    .fill1 {transition: .1s; width: 0%;}
    .fill2 {transition: .1s; width: 100%;}
    
    &.active
    {
        background-color: $color-accent;
        .fill1 {width: 100%;}
        .fill2 {width: 0%;}
    }
}

.outline-0
{
    outline: none;
}

.pop-up
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #00000030;
}

.text-overflow
{
    text-overflow: ellipsis;
}

.rounded-5 {border-radius: 25px;}

.border-homade-1 {border: 1.5px solid $color-accent;}
.border-homade-2 {border: 2px solid $color-accent;}
.border-homade-3 {border: 3px solid $color-accent;}

.border-black-1 {border: 1.5px solid #000;}
.border-black-2 {border: 2px solid #000;}
.border-black-3 {border: 3px solid #000;}

.borderx-black-1 {border-left: 1.5px solid #000; border-right: 1.5px solid #000;}
.borderx-black-2 {border-left: 2px solid #000; border-right: 1.5px solid #000;}
.borderx-black-3 {border-left: 3px solid #000; border-right: 1.5px solid #000;}

.border-grey-1 {border: 1.5px solid #DBDFE9}
.border-grey-2 {border: 2px solid #DBDFE9;}
.border-grey-3 {border: 3px solid #DBDFE9;}

.homade-underline
{
    position: relative;
    width: max-content;

    &::after
    {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color-accent;
        content: "";
        left: 0;
        bottom: -1px;
    }
}

.homade-underline-black
{
    position: relative;
    width: max-content;

    &::after
    {
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: #000;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

.cursor
{
    &-default {cursor: default !important;}
    &-pointer {cursor: pointer !important;}
    &-text {cursor: text !important;}
}

.gap-21
{
    gap: 100px;
}

.resize-0 {resize: none;}

.max-h-100px {max-height: 100px;}
.max-h-120px {max-height: 120px;}

.theme-position
{
    top: 10px;
    left: 10px;
}

.pointer-events-none
{
    pointer-events: none;
}

.top-0 {top: 0;}
.bottom-0 {bottom: 0;}
.left-0 {left: 0;}
.right-0 {right: 0;}

.top-20px {top: 20px;}
.bottom-20px {bottom: 20px;}
.left-20px {left: 20px;}
.right-20px {right: 20px;}

.fw-black {font-weight: 800;}

.d-none2 {display: none;}
.d-flex2 {display: flex;}

.h-05em {height: .5em;}
.h-1em {height: 1em;}
.h-11em {height: 1.1em;}
.h-12em {height: 1.2em;}
.h-15em {height: 1.5em;}
.h-2em {height: 2em;}
.h-3em {height: 3em;}

.max-h-300px {max-height: 300px;}

$fsc-map: (
  1: $font-size-s,
  2: $font-size-m,
  3: $font-size-l,
  4: $font-size-xl,
  5: $font-size-2xl,
  6: $font-size-3xl,
  7: $font-size-4xl,
  8: $font-size-5xl,
  9: $font-size-6xl
);

$custom-scales: (10, 15, 20, 30, 35, 40, 45, 51, 55, 60, 65, 70, 75, 76, 80, 85, 90, 95, 99, 101, 125, 150, 175, 200);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@each $level, $size in $fsc-map {
  .fsc-#{$level} {
    font-size: $size !important;
  }
}

@each $bp, $width in $breakpoints {
  @media (min-width: $width) {
    @each $level, $size in $fsc-map {
      .fsc-#{$bp}-#{$level} {
        font-size: $size !important;
      }
    }
  }
}

@each $value in $custom-scales {
  .w-#{$value} { 
    width: #{$value + '%' + ' !important'}; 
  }
  .h-#{$value} { 
    height: #{$value + '%' + ' !important'}; 
  }
}

@each $bp, $width in $breakpoints {
  @media (min-width: $width) {
    @each $value in $custom-scales {
      .w-#{$bp}-#{$value} { 
        width: #{$value + '%' + ' !important'}; 
      }
      .h-#{$bp}-#{$value} { 
        height: #{$value + '%' + ' !important'}; 
      }
    }
  }
}

.sonic
{
    width: 90%;
    height: 1.3em;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: fill;
    font-size: $font-size-l;
}