[data-bs-theme=light] {
  /* base */
  --base-brand-primary-700: #C81E2B;
  --base-brand-primary-600: #DE2A37;
  --base-brand-primary-500: #F4313F;
  --base-brand-primary-100: #FFEBEC;
  --base-brand-primary-500-rgb: 244, 49, 63;
  --base-blue-900: #213B6E;
  --base-blue-800: #194993;
  --base-blue-700: #4770B0;
  --base-blue-500: #7498C8;
  --base-blue-300: #A4BDE4;
  --base-blue-100: #D0E4FF;
  --base-green-900: #00843D;
  --base-green-700: #2AA360;
  --base-green-500: #5CBF89;
  --base-green-300: #8ADBB0;
  --base-green-100: #B7F7D2;

  /* background */
  --bg-primary: var(--base-brand-primary-500);
  --bg-light-primary: var(--base-brand-primary-100);
  --bg-success: var(--base-green-500);
  --bg-blue-800: var(--base-blue-800);

  /* border */
  --border-primary: var(--base-brand-primary-500);
  --border-light-primary: var(--base-brand-primary-100);
  --border-success: var(--base-green-500);
  --border-primary-rgb: var(--base-brand-primary-500-rgb);
  

  /* Action Primary */
  --action-primary-bg: var(--base-brand-primary-500);
  --action-primary-bg-hover: var(--base-brand-primary-600);
  --action-primary-bg-active: var(--base-brand-primary-700);
  --action-light-primary-bg: var(--base-brand-primary-100);
  --action-light-primary-bg-hover: var(--base-brand-primary-500);
  --action-light-primary-bg-active: var(--base-brand-primary-700);

  /* sidebar */
  --sidebar-primary-bg: var(--base-blue-800);
  --sidebar-secondary-bg: var(--base-blue-900);
  --sidebar-menu-bg-active: var(--base-blue-900);

  /* text */
  --sidebar-text: var(--base-blue-300);
  --text-primary: var(--base-brand-primary-500);
  --text-success: var(--base-green-500);
  --text-link: var(--base-brand-primary-500);
  --text-link-hover: var(--base-brand-primary-600);
}

[data-bs-theme=dark] {
  /* base */
  --base-brand-primary-700: #C81E2B;
  --base-brand-primary-600: #DE2A37;
  --base-brand-primary-500: #F4313F;
  --base-brand-primary-100: #FFEBEC;
  --base-brand-primary-500-rgb: 244, 49, 63;
  --base-blue-900: #213B6E;
  --base-blue-800: #194993;
  --base-blue-700: #4770B0;
  --base-blue-500: #7498C8;
  --base-blue-300: #A4BDE4;
  --base-blue-100: #D0E4FF;
  --base-green-900: #00843D;
  --base-green-700: #2AA360;
  --base-green-500: #5CBF89;
  --base-green-300: #8ADBB0;
  --base-green-100: #B7F7D2;

  /* background */
  --bg-primary: var(--base-brand-primary-500);
  --bg-light-primary: var(--base-brand-primary-100);
  --bg-success: var(--base-green-500);

  /* border */
  --border-primary: var(--base-brand-primary-500);
  --border-light-primary: var(--base-brand-primary-100);
  --border-success: var(--base-green-500);
  --border-primary-rgb: var(--base-brand-primary-500-rgb);
  

  /* Action Primary */
  --action-primary-bg: var(--base-brand-primary-500);
  --action-primary-bg-hover: var(--base-brand-primary-600);
  --action-primary-bg-active: var(--base-brand-primary-700);
  --action-light-primary-bg: var(--base-brand-primary-100);
  --action-light-primary-bg-hover: var(--base-brand-primary-500);
  --action-light-primary-bg-active: var(--base-brand-primary-700);

  /* sidebar */
  --sidebar-primary-bg: var(--base-blue-800);
  --sidebar-secondary-bg: var(--base-blue-900);
  --sidebar-menu-bg-active: var(--base-blue-900);

  /* text */
  --sidebar-text: var(--base-blue-300);
  --text-primary: var(--base-brand-primary-500);
  --text-success: var(--base-green-500);
  --text-link: var(--base-brand-primary-500);
  --text-link-hover: var(--base-brand-primary-600);
}

/* [data-kt-app-layout=dark-sidebar] .app-sidebar {
  background-color: var(--sidebar-primary-bg);
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-logo,
[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-footer {
  background-color: var(--sidebar-secondary-bg);
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-logo {
  border-bottom: 1px dashed #004899;
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon, 
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon, 
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-title {
  color: var(--sidebar-text);
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-arrow:after,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-bullet .bullet {
  background-color: var(--sidebar-text);
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
  background-color: var(--sidebar-menu-bg-active);
} */

/* [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-heading {
  color: var(--sidebar-text)!important;
} */

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu.menu-primary .menu-item .menu-link,
.menu.menu-primary .menu-item .menu-link {
  color: var(--bs-gray-600);
  border: 1px solid transparent;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu.menu-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here),
.menu.menu-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
  color: var(--text-primary);
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu.menu-primary .menu-item:not(.here) .menu-link.menu-link-delete:hover:not(.disabled):not(.active):not(.here),
.menu.menu-primary .menu-item:not(.here) .menu-link.menu-link-delete:hover:not(.disabled):not(.active):not(.here) {
  color: var(--text-primary);
}

.menu-state-bg .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here), 
.menu-state-bg .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
  background-color: var(--bg-light-primary);
}

.menu-state-bg .menu-item.hover:not(.here) > .menu-link.menu-link-delete:not(.disabled):not(.active):not(.here), 
.menu-state-bg .menu-item:not(.here) .menu-link.menu-link-delete:hover:not(.disabled):not(.active):not(.here) {
  background-color: transparent;
  border: 1px solid var(--action-primary-bg);
}

.nav-line-tabs.nav-line-primary.nav-line-tabs-2x .nav-item .nav-link.active, 
.nav-line-tabs.nav-line-primary.nav-line-tabs-2x .nav-item.show .nav-link, 
.nav-line-tabs.nav-line-primary.nav-line-tabs-2x .nav-item .nav-link:hover:not(.disabled) {
  color: var(--text-primary);
  border-bottom-width: 2px;
}

.nav-line-tabs.nav-line-primary .nav-item .nav-link.active, 
.nav-line-tabs.nav-line-primary .nav-item.show .nav-link, 
.nav-line-tabs.nav-line-primary .nav-item .nav-link:hover:not(.disabled) {
  border-bottom: 1px solid var(--border-primary);
  color: var(--text-primary);
}

.btn.btn-primary {
  background-color: var(--action-primary-bg);
}

.btn-check:checked + .btn.btn-outline.btn-outline-dashed, 
.btn-check:active + .btn.btn-outline.btn-outline-dashed, 
.btn.btn-outline.btn-outline-dashed:focus:not(.btn-active), 
.btn.btn-outline.btn-outline-dashed:hover:not(.btn-active), 
.btn.btn-outline.btn-outline-dashed:active:not(.btn-active), 
.btn.btn-outline.btn-outline-dashed.active, 
.btn.btn-outline.btn-outline-dashed.show, 
.show > .btn.btn-outline.btn-outline-dashed {
  border-color: var(--border-primary);
}

.btn-check:checked + .btn.btn-active-light-primary i, 
.btn-check:checked + .btn.btn-active-light-primary .svg-icon, 
.btn-check:active + .btn.btn-active-light-primary i, 
.btn-check:active + .btn.btn-active-light-primary .svg-icon, 
.btn.btn-active-light-primary:focus:not(.btn-active) i, 
.btn.btn-active-light-primary:focus:not(.btn-active) .svg-icon, 
.btn.btn-active-light-primary:hover:not(.btn-active) i, 
.btn.btn-active-light-primary:hover:not(.btn-active) .svg-icon, 
.btn.btn-active-light-primary:active:not(.btn-active) i, 
.btn.btn-active-light-primary:active:not(.btn-active) .svg-icon, 
.btn.btn-active-light-primary.active i, 
.btn.btn-active-light-primary.active .svg-icon, 
.btn.btn-active-light-primary.show i, 
.btn.btn-active-light-primary.show .svg-icon, 
.show > .btn.btn-active-light-primary i, 
.show > .btn.btn-active-light-primary .svg-icon,
.btn-check:checked + .btn.btn-active-color-primary i, 
.btn-check:checked + .btn.btn-active-color-primary .svg-icon, 
.btn-check:active + .btn.btn-active-color-primary i, 
.btn-check:active + .btn.btn-active-color-primary .svg-icon, 
.btn.btn-active-color-primary:focus:not(.btn-active) i, 
.btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon, 
.btn.btn-active-color-primary:hover:not(.btn-active) i, 
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon, 
.btn.btn-active-color-primary:active:not(.btn-active) i, 
.btn.btn-active-color-primary:active:not(.btn-active) .svg-icon, 
.btn.btn-active-color-primary.active i, 
.btn.btn-active-color-primary.active .svg-icon, 
.btn.btn-active-color-primary.show i, 
.btn.btn-active-color-primary.show .svg-icon, 
.show > .btn.btn-active-color-primary i, 
.show > .btn.btn-active-color-primary .svg-icon,
.btn-check:checked + .btn.btn-active-color-primary, 
.btn-check:active + .btn.btn-active-color-primary, 
.btn.btn-active-color-primary:focus:not(.btn-active), 
.btn.btn-active-color-primary:hover:not(.btn-active), 
.btn.btn-active-color-primary:active:not(.btn-active), 
.btn.btn-active-color-primary.active, 
.btn.btn-active-color-primary.show, 
.show > .btn.btn-active-color-primary {
  color: var(--text-primary);
}

.btn-check:checked + .btn.btn-primary, 
.btn-check:active + .btn.btn-primary, 
.btn.btn-primary:focus:not(.btn-active), 
.btn.btn-primary:hover:not(.btn-active), 
.btn.btn-primary:active:not(.btn-active), 
.btn.btn-primary.active, 
.btn.btn-primary.show, 
.show > .btn.btn-primary {
  border-color: var(--action-primary-bg-hover);
  background-color: var(--action-primary-bg-hover) !important;
}

.btn.btn-light-primary {
  color: var(--text-primary);
  background-color: var(--action-light-primary-bg);
}

.btn.btn-light-primary i, 
.btn.btn-light-primary .svg-icon {
  color: var(--text-primary);
}

.btn-check:checked + .btn.btn-light-primary, 
.btn-check:active + .btn.btn-light-primary, 
.btn.btn-light-primary:focus:not(.btn-active),
.btn.btn-light-primary:hover:not(.btn-active), 
.btn.btn-light-primary:active:not(.btn-active), 
.btn.btn-light-primary.active, 
.btn.btn-light-primary.show, 
.show > .btn.btn-light-primary {
  color: var(--bs-primary-inverse);
  border-color: var(--action-light-primary-bg-hover);
  background-color: var(--action-light-primary-bg-hover) !important;
}

.btn.btn-ghost,
.btn.btn-ghost i, 
.btn.btn-ghost .svg-icon,
.btn.btn-ghost-danger,
.btn.btn-ghost-danger i, 
.btn.btn-ghost-danger .svg-icon {
  color: var(--bs-text-gray-800);
}

.btn.btn-ghost:hover,
.btn.btn-ghost:hover i, 
.btn.btn-ghost:hover .svg-icon {
  border-color: var(--bs-danger);
}

.btn.btn-ghost-danger:hover,
.btn.btn-ghost-danger:hover i, 
.btn.btn-ghost-danger:hover .svg-icon {
  color: var(--bs-text-danger);
  border-color: var(--bs-danger);
}

.page-link.active, 
.active > .page-link {
  background-color: var(--action-primary-bg);
}

.page-link.active:hover, 
.active > .page-link:hover {
  background-color: var(--action-primary-bg-hover);
}

.page-link:hover {
  color: var(--text-primary);
  background-color: var(--action-light-primary-bg);
}

.menu-state-color .menu-item .menu-link.active .menu-icon, 
.menu-state-color .menu-item .menu-link.active .menu-icon .svg-icon, 
.menu-state-color .menu-item .menu-link.active .menu-icon i,
.menu-state-color .menu-item .menu-link.active .menu-title {
  color: var(--text-primary);
}

.menu-state-color .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon, 
.menu-state-color .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon, 
.menu-state-color .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon i, 
.menu-state-color .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon, 
.menu-state-color .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon, 
.menu-state-color .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i,
.menu-state-color .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-title, 
.menu-state-color .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
  color: var(--text-primary);
}

.pagination {
  --bs-pagination-hover-color: var(--text-primary);
  --bs-pagination-focus-color: var(--text-primary);
}

.form-check-input:checked {
  background-color: var(--action-primary-bg);
  border-color: var(--border-primary);
}

.form-control:read-only {
  color: var(--bs-gray-500);
  background-color: var(--bs-gray-200);
  border-color: var(--bs-gray-300);
  opacity: 1;
}

.text-primary,
.text-hover-primary:hover,
.text-hover-primary:hover i {
  color: var(--text-primary) !important;
}

.text-success,
.text-hover-success:hover {
  color: var(--text-success) !important;
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-success {
  background-color: var(--bg-success) !important;
}

.bg-blue-800 {
  background-color: var(--bg-blue-800) !important;
}

.border-primary {
  border-color: rgba(var(--border-primary-rgb), var(--bs-border-opacity)) !important;
}

a {
  color: var(--text-link);
}

a:hover {
  color: var(--text-link-hover);
}

#toggle-password i {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

#toggle-password i.icon-hide {
  opacity: 0;
  transform: scale(0.3);
}

.list-pic {
  overflow-y: scroll;
  position: relative;
  max-height: 210px;
}

.list-pic .item:not(:first-child) {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px dashed;
  border-color: var(--bs-border-dashed-color);
}

@media (min-width: 992px) {
  [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-footer .aside-user .symbol,
  [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-footer .aside-user .user-info {
    display: none !important;
  }

  [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-menu .menu-title {
    white-space: nowrap;
    transition: white-space 0.3s ease !important;
  }
}